/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px dotted #ccc;
    margin: 2em 0;
    padding: 0;
}

.light{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dotted #ccc;
    color: #FFF;
    margin: 2em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font: 100% "Myriad Pro",Calibri,"Gill Sans","Gill Sans MT",Myriad,Frutiger,"Frutiger Linotype",Univers,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background: #FFF;
    margin: 0; padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
    letter-spacing: -1.7px;
    font-size: 42px;
    font-weight: 100;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin: 0;
    letter-spacing: -1px;
    padding: 0;
    text-align: center;
}

h3 {
    color: #BBB;
    font-size: 42px;
    font-weight: 100;
    margin: 0;
    letter-spacing: -1.9px;
}

h4 {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: -5px;
}

.header {
	margin: 0 auto;
	width: 960px;
	padding: 20px 0;
	overflow:hidden;
	max-width: 98%;
}

.logo a {
	color: #333;
	text-decoration: none;
    font-weight: 100;
    font-size: 1.5em;
}

.blue {
    color: #00BFF3;
}
/*--------- controls area -------*/
ul {
    list-style: none;
    margin-top: 30px;

}

ul li {
    display: inline;
    margin-right: 20px;
}

/****************************************************
 *  Push Button
 *****************************************************/
.push_button{
    position:relative;
    width:100px;
    color:#FFF;
    text-decoration:none;
    margin:0 auto;
    border-radius:5px;
    border:solid 1px #00CCCC;
    background:#00CCCC;
    text-align:center;
    padding:5px 20px;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    -webkit-box-shadow: 0px 4px 0px #008080;
        -moz-box-shadow: 0px 4px 0px #008080;
        box-shadow: 0px 4px 0px #008080;
}

.push_button:active{
    -webkit-box-shadow: 0px 2px 0px #008080;
    -moz-box-shadow: 0px 2px 0px #008080;
    box-shadow: 0px 2px 0px #008080;
    position:relative;
    top:3px;
}

/* -------------- Grid Area ------------------*/

.container {
    width: 960px;
    margin: 0 auto;
}

.grid {
    margin: 0 auto;
    height: 580px;
    width: 940px;
    border: 1px solid;
}

.block {
      height: 8px;
      width: 8px;
      background-color: black;
      display: inline-block;
      opacity: 0;
      margin: 0;
      padding: 0;
      border: none;
      float: left;
}

.row {
    margin: 0;
    padding: 0;
    line-height: 1.0;
}

.content {
	float: left;
	width: 100%;
	padding: 0 5% 0 0;
}

footer {
    margin: 0px auto;
    width: 850px;
    text-align: center;
}

footer .social {
    padding: 10px;
}

footer .social ul {
  margin: 0;
  padding: 0;
}

footer .social ul li {
  padding: 8px;
  margin: 0;
}

footer .social a {
  color: #000;
}

footer .social a:hover {
  color: #555;
}

/* ------------------------ Web Icons ----------------------------*/

.webicon {
    display: inline-block;
    background-size: 100%;
    width: 30px;
    height: 30px;
    text-indent: -999em;
    text-align: left;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.webicon github large{
    background: url(webicon-github.png);
}

.webicon.large {
    width: 48px;
    height: 48px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
